/* global */

:root{
    --details: #ffcc02;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    text-transform: uppercase;
}
h2{
    font-weight: 400;
    letter-spacing: .5rem;
}
h3{
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

img{
    max-width: 100%;
}
/* History section */


.history-section{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.history-text{
    
    line-height: 1.75;
    padding: 1rem 7rem 4rem 7rem;
    background-image: url(../img/crocodile.jpg);
    background-size: cover;
    background-position: center center;
    height: 50vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.history-text p{

    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    padding-top: 1rem;

}
.history-text h3{

    color: white;
    text-align: center;
    width: 10rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-right: 1rem;
    padding-left: 1rem;
    letter-spacing: .3rem;
    
}
.history-title h2{
    color: #dedede;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
}
.history-text p:hover{
    color:#8a8a8a8a;
}

/* Utilities */

/* information section */

section.information{
    background-color: black;
    color: white;
}
.title{
    padding-left: 1rem;
}
section.information h2{
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-top: 2rem;
    border-left: 10px solid var(--details);
}

@media(min-width:768px){
    section.information h2{
        font-size: 2.5rem;
        text-align: left;
    }
}
.info-text h3{
    text-align: center;
    width: 10rem;
    border-left: 1px solid #8a8a8a8a;
    border-right: 1px solid #8a8a8a8a;
    padding-right: 1rem;
    padding-left: 1rem;
    letter-spacing: .3rem;
}
.info-text{
    padding: 0 1rem;
}
.gridThree{
    display: grid;
}
@media(min-width: 768px){
    .gridThree{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}
.info-text p{
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    line-height: 1.75;
}
.info-text p:hover{
    color:#8a8a8a8a;
}

/* footer section */

footer.footer{
    background-color: #dedede;
    height: 20vh;
    margin-top: 4rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
}
div.footer-more-information{

    font-weight: 400;
    margin-left: 3rem;
    border-left: 1px solid black;
    padding-left: 1rem;
    height: 6.2rem;
    margin-top: 1.5rem;

}

div.footer-more-information h4{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}
div.footer-more-information input[type=submit]{
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 1.4rem 1rem 1.2rem 1rem;
    font-size: .75rem;
    border: none;
    letter-spacing: .2rem;
    
}
div.footer-more-information input[type=email]{
    font-size: 1.2rem;
    border: none;
    background-color: white;
    color: #dedede;
    text-transform: uppercase;
    padding: 1rem;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}

div.footer-more-information input[type=submit]:hover{
    color:yellow;
}
div.social-networks h4{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    margin-right: 10rem;
}
div.footer-follow{
    font-weight: 400;
    margin-left: 3rem;
    border-left: 1px solid black;
    padding-left: 2rem;
    height: 6.2rem;
    margin-top: 1.5rem;
}
div.icons{
    display: flex;
    padding-left: 5rem;
}
div.facebook, div.twitter, div.instagram, div.snapchat{
    padding-right:2rem;
    margin-top: -2.5rem;
}
div.facebook{
    padding-left: .5rem;
}